/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
body {
  background-color: #115ff4;
  color: white;
  margin: auto;
}

h1{
  text-align: center;
}

table, th, td {
  border: 1px solid white;
  margin-top: 10px;
  margin: auto;
}

.btn {
  background-color: purple;
  color: white;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top: 10px;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.table {
  margin-top: 30px;
  background-color: #060ce9;
  border-color: white;
}
.td {
  height: 40px;
  width: 50px;
}